[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  directory = "netlify/functions"

[[edge_functions]]
  path = "/*"
  function = "meta"

[[redirects]]
  from = "/api/track-visit-background"
  to = "/.netlify/functions/track-visit-background"
  status = 202

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200